 <div class="container-fluid">

    <h1 *ngIf="employeeDetails"> Employee Details : Total Number Of Employees - {{employeeDetails.length}} </h1>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <select name="dept" id="dept" class="form-control">
           <option value="Departments">Departments</option>
           <option value="Computer">Computer</option>
           <option value="Physics">Physics</option>
           <option value="Chemistry">Chemistry</option>
        </select>
      </div>
      <div class="col-md-3">
        <input type="text" name="name" id="email" class="form-control" placeholder="Name / Email" [(ngModel)]="key">
      </div>
      <div class="col-md-1">
         <button type="button" class="btn btn-secondary">Search</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-secondary">Reset and Reload Data</button>
     </div>
     <div class="col-md-1"></div>
     <div class="col-md-2">
 
      <select [(ngModel)]= "sortByselected" name="sortselect" (change)="sortBy($event)" 
      class="form-control" >
       <option *ngFor = "let sort of SortBy" [value]="sort.name">{{sort.name}}</option>
      </select>
      
    </div>
    </div>
    <hr>
    <div class="row form-group">

       <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
           <th>Employee Name</th>
           <th>Age</th>
           <th>Email Address</th>
           <th>Departments</th>
          </thead>
          <tbody ng-repeat *ngFor="let data of employeeDetails | filter:key">
            <tr>
              <td>{{data.name}}</td>
              <td>{{data.age}}</td>
              <td>{{data.email}}</td>
              <td>{{data.departments.length}}</td>
            </tr>
          </tbody>
        </table>
       </div>
 </div>
